"*":
  "autoclose-html": {}
  core: {}
  editor:
    fontSize: 15
    invisibles: {}
  linter: {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
