"*":
  editor:
    invisibles:
      {}
    fontSize: 15
  core:
    themes: [
      "seti-ui"
      "seti-monokai"
    ]
  "exception-reporting":
    userId: "bd1bca36-db3a-468d-1ae6-863d639c99f6"
  welcome:
    showOnStartup: false
  linter:
    {}
  "autoclose-html":
    {}
